Source: vnc-automate
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 cython (>= 0.23.2),
 cython3 (>= 0.23.2),
 debhelper (>= 9),
 dh-python,
 python-all-dev,
 python-debian,
 python-lxml,
 python-numpy,
 python-pil,
 python-pip,
 python-scipy,
 python-setuptools,
 python-twisted,
 python3-all-dev,
 python3-debian,
 python3-lxml,
 python3-numpy,
 python3-pil,
 python3-pip,
 python3-scipy,
 python3-setuptools,
 python3-twisted,
 tesseract-ocr,
Standards-Version: 3.7.2
Rules-Requires-Root: no

Package: python-vnc-automate
Architecture: any
Provides:
 ${python:Provides},
Depends:
 tesseract-ocr,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends},
Recommends:
 python-lxml,
 tesseract-ocr-deu,
 tesseract-ocr-fra,
 tesseract-ocr-osd,
Description: A Python framework for automating VNC sessions via text recognition (OCR)
 This package provides a python framework that allows to search in a VNC
 session for given strings upon which mouse click actions can be triggered. In
 order to recognize strings on the screen, the framework employs the OCR
 (optical character recognition) tool tesseract. For better text recognition on
 buttons, an additional algorithm detects rectangular regions in the screen and
 executes tesseract in this regions separately. By doing so, GUI tests may be
 written in Python to automate VNC sessions.

Package: python3-vnc-automate
Architecture: any
Depends:
 tesseract-ocr,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Recommends:
 python3-lxml,
 tesseract-ocr-deu,
 tesseract-ocr-fra,
 tesseract-ocr-osd,
Description: A Python framework for automating VNC sessions via text recognition (OCR)
 This package provides a python framework that allows to search in a VNC
 session for given strings upon which mouse click actions can be triggered. In
 order to recognize strings on the screen, the framework employs the OCR
 (optical character recognition) tool tesseract. For better text recognition on
 buttons, an additional algorithm detects rectangular regions in the screen and
 executes tesseract in this regions separately. By doing so, GUI tests may be
 written in Python to automate VNC sessions.
